<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="formularios1._0.My.MySettings.PracticasProfesionalesConnectionString"
            connectionString="Data Source=JOSEV-17\SQLEXPRESS;Initial Catalog=PracticasProfesionales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>